<!DOCTYPE html>
<html>
<head>
  <title>Heimdall</title>
  <%= stylesheet_link_tag    "heimdall/application", media: "all" %>
  <%= javascript_include_tag "heimdall/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
